
body{
    background-image: url(https://source.unsplash.com/WLUHO9A_xik/2200x1000);
    background-repeat: no-repeat;
    color: white;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
    position: fixed;
     bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 60px;
   p{
    margin-top: 10px;

    }
  }